.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
Thumbs.db
vendor
nbproject
.buildpath
.project
.settings
composer.phar
phpunit.phar
/phpunit.xml
tests/_output/*
tests/_support/_generated
/.vagrant
web/assets/*
!web/assets/.gitkeep